:root {
    --bodyBackground: #0d1117;
    --encryptBtnBack: linear-gradient(to right, #122afe, #b631d1);
    --decryptBtnBack: linear-gradient(to right, #b631d1, #122afe);
    --borderColor: rgb(14, 38, 54);
    --descButtonBack: linear-gradient(115deg, #4fcf70, #fad648, #a767e5, #12bcfe, #44ce7b);
    --txtAreaBack: linear-gradient(to left, #52565c, #2c3446);
    --footerColor: #4894ce;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    background: url(Images/milad-fakurian-1RWMfvv2UW4-unsplash.jpg) center no-repeat fixed;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 85vh;
    padding: 0;
    margin: auto;
}

.logo {
    width: 36px;
    height: 38px;
}

.headline {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(rgb(225, 0, 255), rgb(0, 195, 255));
    color: transparent;
    background-clip: text;
}

.nav {
    display: inline-block;
}

.nav ul li a {
    text-decoration: none;
    float: left;
}

ul {
    list-style-type: none;
}

nav ul .how {
    float: right;
    background: var(--howBtnColor);
    color: #fff;
}

.logo,
.how {
    margin: 5px 5px 0px 5px;
}

#descBtn,
#descBtnMob1,
#descBtnMob2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    outline: none;
    height: 43px;
    width: 138px;
    border: none;
    text-decoration: none;
    background: var(--descButtonBack);
    border-radius: 5px;
}

#descBtn:hover,
#descBtnMob1:hover,
#descBtnMob2:hover {
    animation: rotate 0.4s linear infinite;
}

@keyframes rotate {
    100% {
        filter: hue-rotate(-360deg)
    }
}

#descBtn span,
#descBtnMob1 span,
#descBtnMob2 span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 130px;
    background: #222222;
    font-size: 16px;
}

.encrypt,
.decrypt {
    display: flex;
    flex-direction: column;
}

.enc {
    background: var(--encryptBtnBack);
}

.dec {
    background: var(--decryptBtnBack);
}

.enc,
.dec {
    width: 9em;
    height: 35px;
    border-radius: 23px;
    color: #fff;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.enc:hover,
.dec:hover {
    background: linear-gradient(rgb(103, 9, 116), rgb(12, 85, 107));
    transition: 200ms linear;
}

.enc:before,
.dec:before {
    content: '';
    position: absolute;
    height: 70px;
    width: 10px;
    background: #f3f3f3;
    box-shadow: 0 0 10px #fff;
    filter: blur(1px);
    opacity: 0.9;
    top: -30px;
    transition: 0.5s;
    transform: rotate(-25deg) translateX(-45px);
}

button:hover:before {
    transform: rotate(-20deg) translate(110px, 45px);
}

textarea {
    height: 24vh;
    width: 35vw;
    background: var(--txtAreaBack);
    color: white;
    /* background: var(--txtAreaBack) padding-box, linear-gradient(to left, rgb(12, 32, 46), rgb(142, 52, 145)) border-box; */
    border-radius: 8px;
    border: 3px solid transparent;
    margin: 5px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.123);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(5px);
    border: 2px solid rgba(255, 255, 255, 0.048);
    caret-color: white;
    transition: transform .2s;
    cursor: crosshair;
}

textarea:hover {
    -ms-transform: scale(1.02);
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
}

select {
    background: var(--decryptBtnBack);
    color: #fff;
    border-radius: 24px;
    height: 33px;
    cursor:pointer;
}

#decrypter-select {
    background: var(--encryptBtnBack);
}

#decrypter-select:hover,
#encrypter-select:hover,
select option {
    background: #3C3C3C;
    color: #03fce7;
    box-shadow: 1px 1px 12px 1px var(--footerColor);
    transition: ease-in 0.2s;
}

textarea::placeholder {
    color: rgb(12, 224, 12);
    opacity: .8;
}

.num {
    width: 114px;
    height: 35px;
    background: #3C3C3C;
    color: #fff;
    border-radius: 5px;
    border: 2px solid var(--borderColor)
}

#description {
    position: absolute;
    z-index: 1;
    right: 0;
    margin-top: 5%;
    height: 44vh;
    width: 40vw;
    background: var(--txtAreaBack);
    color: white;
    background: var(--txtAreaBack) padding-box, linear-gradient(to left, #4894ce, rgb(147, 82, 150)) border-box;
    border-radius: 8px;
    border: 2px solid transparent;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    display: flex;
    align-items: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 120px;
    height: 34px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #3C3C3C;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: rgb(1, 128, 1);
    box-shadow: 1px 1px 15px 1px lawngreen;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(85px);
}

.slider:after {
    content: 'HIDE METHOD';
    color: white;
    display: block;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 53%;
    font-size: 10px;
    font-family: Verdana, sans-serif;
}

input:checked+.slider:after {
    content: 'SHOW METHOD';
}

.switchEnc {
    display: inline-flex;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--footerColor);
    font-size: 12px;
    bottom: 0;
    position: relative;
    width: 100%;
    height: 2.5rem;
}

.svg {
    color: var(--footerColor);
    margin: 2px;
}

.svg:hover,
a:hover {
    color: rgb(29, 185, 206);
    filter: drop-shadow(#4444dd 1px 1px 2px);
    zoom: 1.1;
    transition: ease-in 0.12s;
}

.mobile {
    display: none;
}

.copy-paste {
    margin-bottom: 10px;
    float: right;
    padding-left: 5px;
    cursor:pointer;
    transition: transform .2s;
}

.copy-paste:hover {
    -ms-transform: scale(1.23);
    -webkit-transform: scale(1.23);
    transform: scale(1.23);
}

@media (width <=800px) {
    .content {
        flex-direction: column;
        flex-shrink: 1;
    }

    .nav {
        margin-bottom: 25%;
        max-width: 98vw;
    }

    .encrypt,
    .decrypt {
        margin-bottom: 30px;
    }

    .switchEnc {
        flex-direction: column-reverse;
    }

    textarea {
        width: 95vw;
        height: 30vh;
    }

    #encrypter-select,
    #decrypter-select {
        position: relative;
        width: 120px;
    }

    .how,
    .logo {
        transform: scale3d(0.8, 0.8, 1);
    }

    #description {
        margin-top: 15%;
        width: 60%;
    }

    .mobile {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    .headline,
    .decrypt {
        display: none;
    }

    .footer {
        margin-top: 20%;
    }
}

img {
    width: 23px;
    height: 23px;
}

.copy-paste {
    background: transparent;
    border: #0d1117;
}